/*
 * Week 4, Project 4 
 * David Tyler Kneisly 
 * MUI 1208
 * Movie Night
 * Gold Style Sheet
 */
 
h1 {
	/* Font for .ui-header */
	font-family: 'Henny Penny', cursive;
	font-size: 20px;
	color: #2a2a2a;
	text-shadow: 1px 1px 1px #fff;
}
a {
	outline: none;
	color: black;
	text-decoration: none;
}
p.function {
	font-family: 'Henny Penny', cursive;
	color: black;
	font-size: 34px;
	font-weight: lighter;
	font-stretch: ultra-condensed;
	text-shadow: 1px 1px 1px #999999;
	margin: 10px 0px 5px 0px;
}
.subfunction {
	margin: 0px 0px 70px 0px;
}
h5 {
	position: relative;
	font-family: Helvetica;
	color: black;
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
}
.headerstyle {
	/* Positions the background image and sets the background color */
	margin-top: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: 0px;
	background-size: 125% 65%;
	background-color: #9a9a9a;
}
.bodystyle {
	/* Sets the style for pages with no background image */
	background-color: #9a9a9a;
}
.topbrowse {
	color: black;
	text-align: center;
}
.bottombrowse {
	margin: 0px -15px 0px -15px;
	padding-top: -10px;
	padding-bottom: 40px;
}
.loclabel {
	margin-top: 10px !important;
}
.zip-wrap {
	display: block !important;
}
.zip-prompt {
	font-size: smaller;
	font-style: oblique;
	text-align: center;
	margin: 3px 0px 1px 0px;
}
.zip-reply {
	color: #9a9a9a;
}
.ui-grid-b img {
	width  : 100%;
	height : auto;
}