/*
 * Week 4, Project 4 
 * David Tyler Kneisly 
 * MUI 1208
 * Movie Night
 * Gold Style Sheet (non-jquery)
 */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	overflow: scroll;
	background-repeat: no-repeat;
	background-color: #9a9a9a;
	background-position-x: center;
	background-size: 130% 50%;
	background-color: #444444;
}
.backgroundimg {
	position: absolute;
	width: 110%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 90px;
	background-color: #9a9a9a;
}
header {
	display: block;
	position: relative;
	padding: 5px 0px 5px 0px;
	width: 100%;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #aaa;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}
h1 {
	position: relative;
	font-family: Helvetica;
	font-size: 20px;
	margin: 3px;
	color: #2a2a2a;
	width: 95%;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
}
h5 {
	position: relative;
	font-family: Helvetica;
	color: black;
	font-weight: lighter;
	margin: -80px 0px 70px 0px;
}
nav {
	display: block;
	position: relative;
	margin: 8px 0px 8px 0px;
	padding: 0px 0 0px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#9c1c1f), color-stop(1, #b91d22) ) !important;
	background: -moz-linear-gradient( center bottom, #9c1c1f 0%, #b91d22 100% ) !important;
	border-radius: 6px;
	 -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	line-height: 30px;
	color: white;
	font-family: arial;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
}
p#browse {
	font-size: 11px;
}
p#function {
	font-family: 'Henny Penny', cursive;
	color: black;
	font-size: 34px;
	font-weight: lighter;
	font-stretch: ultra-condensed;
	text-shadow: 1px 1px 1px #999999;
	margin: 35px 0px 70px 0px;
}
a {
	outline: none;
	color: black;
	text-decoration: none;
}
a:hover {
	outline: none;
	color: black;
}
a#h1a {
	text-decoration: none;
}
a#browsing {
	text-decoration: none;
	font-weight: 100;
}
#clear {
	margin: 0 0 0 -10px;
	color: white;
}
#display {
	margin: 0 0 0 10px;
	color: white;
}
#addNew {
	display: block;
	text-align: center;
	color: white;
}
form {
	position: relative;
	margin: 0 5px 0 5px;
	border-radius: 6px;
	border: none;
	padding: 5px 10px 5px 10px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	opacity: .95;
}
fieldset {
	margin: 0 0 0 -15px;
	letter-spacing: 1px;
	line-height: 30px;
	border: none;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFF;
	line-height: 22px;
	list-style-type: none;
}
legend {
	margin: 0 0 0 5px;
	color: #2a2a2a;
	text-align: left;
	font-size: 16px;
	font-weight: 3px;
	text-shadow: 1px 1px 1px #fff;
}
.fieldSet label {
	width:195px;
	margin-top: 6px;
	display: inline-block;
	padding: 3px;
}
.fieldSet input {
	height: 25px;
	width: 195px;
	padding: 5px 8px;
	border: 1px solid #aaa;
	border-radius: 6px;
	box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
	display: inline;
	vertical-align: text-top;
}
.fieldSet textarea {
	height: 80px;
	width: 200px;
	border: 1px solid #aaa;
	border-radius: 6px;
	box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
	vertical-align: bottom;
}
.fieldSet input:focus,
.fieldSet textarea:focus {
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 3px #aaa inset;
}

.checkbox label{
	display: inline;
	height: 20px;
	vertical-align: text-top;
}
.checkbox input{
	width: 10px;
	height: 17px;
	vertical-align: bottom;
}
ul,
li { 
	display: block;
}
section.content {
	position: relative;
	margin: 20px 0px 8px 0px;
	padding: 0px 10px 8px 10px;
	border-radius: 6px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#c0c0c0), color-stop(1, #cdcdcd) );
	background: -moz-linear-gradient( center bottom, #c0c0c0 0%, #cdcdcd 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}
div#index {
	position: relative;
	margin: 8px 5px 0 5px;
	border-radius: 6px;
	border: none;
	padding: 5px 10px 5px 10px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	opacity: .95;
	text-align: center;
}
div#items {
	position: relative;
	display: block;
	width: 100%;
}
div#items ul {
	position: relative;
	width: 93%;
	border-radius: 6px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	opacity: .95;
	letter-spacing: 1px;
	word-wrap: normal;
	line-height: 30px;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 10px 5px;
	font-family: arial;
	font-size: 12px;
	text-shadow: 1px 1px 0 #ffffff;
	color: black;
	line-height: 22px;
	list-style-type: none;
}
li#browsing {
	position: relative;
	width: 93%;
	margin: 0 0px 0 5px;
	padding: 10px 5px 10px 5px;
	border: none;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	text-align: left;
	color: #2a2a2a;
	text-shadow: 1px 1px 1px #fff;
	font-weight: lighter;
}
li#browse {
	position: relative;
	width: 93%;
	margin: 0 0px 0 5px;
	padding: 2px 5px 5px 5px;
	border: none;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#808080), color-stop(1, #9a9a9a) );
	background: -moz-linear-gradient( center bottom, #808080 0%, #9a9a9a 100% );
	border: 1px solid #9a9a9a;
	-moz-box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	box-shadow: 0 8px 1em rgba(0, 0, 0, .5);
	text-align: left;
	color: white;
	font-size: 14px;
	font-weight: thick;
}
div#searchstack {
	position: relative;
	width: 93%;
	margin: 8px 0px 0 5px;
	padding: 10px 5px 10px 5px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: none;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
	background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	text-align: center;
}
p#function_alt {
	/* Global CTA font and positioning */
	text-align: center;
	font-family: 'Rancho', cursive;
	color: white;
	font-size: 50px;
	font-weight: lighter;
	font-stretch: ultra-condensed;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 400px 0;
}
div.featurestack {
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position-x: center;
	background-position-y: 0px;
	background-size: 130% 140%;
	background-color: #444444;
	margin: 0px 0px 0px 0px;
}
div#featurestack {
	text-align: center;
	position: relative;
}
output {
	position: relative;
	background-image: -webkit-gradient(linear, left top, left bottom, from (#444444), to (#999999));
	background-image: -webkit-linear-gradient(top, #444444, #999999);
	background-image: -moz-linear-gradient(top, #444444, #999999);
	-moz-box-shadow: 0 0 0em rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 0em rgba(0, 0, 0, 2);
	width: 210px;
	height: 30px;
	text-align: center;
	color: white;
	border-radius: 10px;
	display: inline-block;
	font: bold 15px/30px Georgia;
	bottom: 175%;
	left: 0;
	margin-top: 7px;
}
output:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
	margin-bottom: 2px;
}
ul#errors {
	width: 88%;
	margin: 3px 0 3px 3px;
	background-color: #ebedf2;
	border-radius: 6px;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0,#ccd1de), color-stop(1, #dfe1e5));
	background: -moz-linear-gradient(center bottom, #ccd1de 0%, #dfe1e5 100%);
	border: .75px solid #aaa;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	opacity: .95;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 30px;
	color: #1c1601;
}
input[id="submit"] {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	color: #2a2a2a;
	width: 155px;
	height: 3em;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
}
input[type="search"] {
	height: 25px;
	width: 210px;
	padding: 5px 8px;
	border: 1px solid #aaa;
	border-radius: 6px;
	box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
	vertical-align: text-top;
}